<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RideOn - Contacto</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <header>
        <img src="../ASSETS/SVG/logoRideOn.svg" alt="RideOn logo" class="logo">
        <h1>Reserva. Vive. Repite - RideOn</h1>
        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html" class="nav-link">Inicio</a></li>
                <li><a href="../VIEWS/galeria.html" class="nav-link">Galería</a></li>
                <li><a href="../VIEWS/presupuestos.html" class="nav-link">Presupuestos</a></li>
                <li><a href="contacto.html" class="nav-link-active">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="contacto-info">
            <div class="contact-card">
                <p><strong>Dirección:</strong> Camino Rural 45, Sevilla</p>
                <p><strong>Teléfono:</strong> +34 600 123 456</p>
                <p><strong>Email:</strong> contacto@rideon.com</p>
                <p><strong>Horario:</strong> Lunes a Viernes — 9:00 a 18:00</p>
                <p><strong>Atención urgente:</strong> Disponible 24/7 durante actividades</p>
            </div>
        </section>

        <section id="mapa">
            <h2>Ubicación</h2>
            <div id="map" style="height: 400px;"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 RideOn. Todos los derechos reservados.</p>
        <div class="social-icons">
        <img src="../ASSETS/SVG/facebook-svgrepo-com.svg" alt="logo facebook">
        <img src="../ASSETS/SVG/instagram-svgrepo-com.svg" alt="logo instagram">
        </div>
    </footer>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        const rideOnLocation = [37.3200, -5.9000];

        // Configuración del mapa
        const map = L.map('map').setView(rideOnLocation, 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        // Marcador
        const marker = L.marker(rideOnLocation).addTo(map)
            .bindPopup('RideOn - Experiencias Rurales<br>Sevilla')
            .openPopup();
</script>

    <script src="../JS/app.js"></script>
</body>
</html>
