<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RideOn - Galería</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <script src="../JS/galeria.js" defer></script>
</head>
<body>
    <header>
        <img src="../ASSETS/SVG/logoRideOn.svg" alt="RideOn Logo" class="logo">
        <h1>Reserva. Vive. Repite - RideOn</h1>
        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html" class="nav-link">Inicio</a></li>
                <li><a href="../VIEWS/galeria.html" class="nav-link-active">Galería</a></li>
                <li><a href="../VIEWS/presupuestos.html" class="nav-link">Presupuestos</a></li>
                <li><a href="../VIEWS/contacto.html" class="nav-link">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="galeria">
            <div class="imagenes-container"></div>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 RideOn. Todos los derechos reservados.</p>
    </footer>

    <script src="../JS/galeria.js"></script>
    <script src="../JS/app.js"></script>
</body>
</html>
