<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RideOn - Galería</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <script src="../JS/galeria.js" defer></script>
</head>
<body>
    <header>
        <img src="../ASSETS/SVG/logoRideOn.svg" alt="RideOn Logo" class="logo">
        <h1>Reserva. Vive. Repite - RideOn</h1>
        <nav class="nav-bar">
            <ul>
                <li><a href="../index.html" class="nav-link">Inicio</a></li>
                <li><a href="../VIEWS/galeria.html" class="nav-link-active">Galería</a></li>
                <li><a href="../VIEWS/presupuestos.html" class="nav-link">Presupuestos</a></li>
                <li><a href="../VIEWS/contacto.html" class="nav-link">Contactanos</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h2><span>Galeria de Experiencias</span></h2>
        <div class="img-gallery">
            <img src="../ASSETS/IMAGES/sendero-galeria.jpg" alt="foto sendero">
            <img src="../ASSETS/IMAGES/caballo-galeria.jpg" alt="foto ruta a caballo">
            <img src="../ASSETS/IMAGES/campamento-galeria.jpg" alt="foto campamento">
            <img src="../ASSETS/IMAGES/camping-galeria.jpg" alt="camping nocturno">
            <img src="../ASSETS/IMAGES/escalada-galeria.jpg" alt="foto escalada">
            <img src="../ASSETS/IMAGES/grupo-galeria.jpg" alt="foto grupo">
            <img src="../ASSETS/IMAGES/ruta-galeria.jpg" alt=" foto ruta">
            <img src="../ASSETS/IMAGES/via-ferrata-galeria.jpg" alt="grupo en via ferrata">
        </div>
    </main>

    <footer class="footer-galeria">
        <p>&copy; 2025 RideOn. Todos los derechos reservados.</p>
        <div class="social-icons">
        <img src="../ASSETS/SVG/facebook-svgrepo-com.svg" alt="logo facebook">
        <img src="../ASSETS/SVG/instagram-svgrepo-com.svg" alt="logo instagram">
        </div>
    </footer>

    <script src="../JS/galeria.js"></script>
    <script src="../JS/app.js"></script>
</body>
</html>
