<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Formulario de Presupuesto</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../CSS/estilos.css">
    </head>
    <body>
        <header>
            <img src="../ASSETS/SVG/logoRideOn.svg" alt="RideOn Logo" class="logo" width="449" height="364">
            <h1>Reserva. Vive. Repite - RideOn</h1>
            <nav class="nav-bar">
                <ul> 
                    <li><a href="../index.html" class="nav-link">Inicio</a></li>
                    <li><a href="../VIEWS/galeria.html" class="nav-link">Galeria</a></li>
                    <li><a href="../VIEWS/presupuestos.html" class="nav-link-active">Presupuestos</a></li>
                    <li><a href="../VIEWS/contacto.html" class="nav-link">Contactanos</a></li>
                </ul> 
            </nav>
        </header>
        <form id="presupuestoForm">
            <!-- DATOS DE CONTATCTO -->
            <fieldset>
                <legend>Datos de Contacto</legend>

                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" maxlength="15" required>

                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" maxlength="40" required>

                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" maxlength="9" required>

                <label for="email">Correo Electonico:</label>
                <input type="text" id="email" required>
            </fieldset>

            <!-- PRESUPUESTOS-->
            
            <fieldset>
                <legend>Presupuestos</legend>

                <label for="producto">Producto:</label>
                <select id="producto" required>
                    <option value="">Selecciona un producto</option>
                    <option value="500">Ruta de Senderismo - 500€</option>
                    <option value="800">Escalada - 800€</option>
                    <option value="1200">Campamento de aventura - 1200€</option>
                </select>

                <label for="plazo">Nº de plazos (10% de descuento en plazos superiores a 1 año):</label>
                <input type="number" id="plazo" min="1" max="24" value="1" required>

                <div class="extras">
                    <label>Extras:</label>
                    <label><input type="checkbox" value="100">Reportaje Fotografico (+100€)</label>
                    <label><input type="checkbox" value="200">Equipo Tecnico Completo (+200€)</label>
                    <label><input type="checkbox" value="50">Transporte en furgoneta (+50€)</label>
                </div>

                <p>Presupuesto total: <span id="total" class="resultado">0 €</span></p>
            </fieldset>


            <!--CONDICIONES-->
            <fieldset>
                <legend>Condiciones</legend>
                <label><input type="checkbox" id="condiciones" required>Acepto los términos y condiciones de privacidad</label>
            </fieldset>

            <div class="botones">
                <button type="reset">Reiniciar</button>
                <button type="submit">Enviar</button>
            </div>
        </form>
        <footer>
            <p>&copy;2025 RideOn. Todos los derechos reservados.</p>
            <div class="social-icons">
            <img src="../ASSETS/SVG/facebook-svgrepo-com.svg" alt="logo facebook" width="800" height="800">
            <img src="../ASSETS/SVG/instagram-svgrepo-com.svg" alt="logo instagram" width="800" height="800">
            </div>
        </footer>
        <script src="../JS/app.js"></script>
        <script src="../JS/formulario.js"></script>
    </body>
</html>